// ------------- Connected reset-style file   ------------- // 
@import "reset_styles";




// -------------- Настройка основного шрифта и размера ---------------- //




//==================== Add Slider Plugg ==============================//
@import url(/scss/slider/slider.scss);




// ---------------  Design used colors ------------------ //
$col1: rgb(48, 31, 31);
$col2: rgb(255, 0, 0);
$col3: rgb(31, 31, 48);



// ---------  Подключение Шрифтов ------- // 
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);

@font-face {
    font-family: 'Graphik-bold';
    src: url('/fonts/GraphikLCG-Bold.eot');
    src: local('Graphik Black'), local('Graphik-Black'),
        url('/fonts/GraphikLCG-Bold.eot') format('embedded-opentype'),
        url('/fonts/GraphikLCG-Bold.woff2') format('woff2'),
        url('/fonts/GraphikLCG-Bold.woff') format('woff'),
        url('/fonts/GraphikLCG-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik-regular';
    src: url('/fonts/GraphikLCG-Regular.eot');
    src: local('Graphik Regular'), local('Graphik-Regular'),
        url('/fonts/GraphikLCG-Regular.eot') format('embedded-opentype'),
        url('/fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('/fonts/GraphikLCG-Regular.woff') format('woff'),
        url('/fonts/GraphikLCG-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



// ---------- Added modules-files ----------------// 


body{
    font-family: "Graphik-regular";
    height: 100%;
}
.wrapper{
    min-height: 100vh;
}

.fullscreen{
    min-height:100vh;
}


@import "header";
@import "main";
@import "footer";



